*{
    margin: o;
    padding: 0;
}

.heder{
    text-align: center;
    padding:10px;
    background-color: white;
}
.kdo{
    text-align: center;
    background-color: white;
}
.menu li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.pirveli{
    background-color: rgb(214, 178, 178);
}
.conteiner{
    background-color: white;
    max-width: 700px;
    margin: auto;
}
.menu2 li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    
}
.menu2 {
    background-color: rgb(85, 141, 85);
    text-align: center;
}
.dinner{
    text-align: center;
  
}
p {
    color: rgb(67, 64, 64);
}
.dinner2{
    text-align: center;
  
}